<div class="search-container">
  <mat-form-field class="search-field" [style.width]="width === 'full' ? '100%' : width">
    <input matInput placeholder="Search" [(ngModel)]="searchValue">
    @if (searchValue) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
  <button class="search-button" mat-raised-button color="primary" (click)="onSearch()">
    {{ 'COMMON.SEARCH' | translate }}
  </button>
</div>
